@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');

*, 
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #00141F;
    font-family: "Lora", "Montserrat", "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#heroSection {
    position: relative;
}

#home .container {
    background-color: #1c2263;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.navbar {
    color: #00141F;
}

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00141F;
}

.navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

.navbar-links a:first-of-type, .navbar-links :nth-of-type(2){
    margin-right: 20px;
}

.navbar-links a:nth-of-type(3), .navbar-links a:nth-of-type(4){
    margin-left: 20px;
}

.navbar-links a:hover {
    color: #326E92;
}

.logoResp {
    display: none;
    width: 120px;
    margin: 5px 0;
}
.logoResp .logo {
    width: 95px;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 8px 0;
}

.navbar-toggle span {
    height: 5px;
    width: 35px;
    background-color: #fff;
    margin: 4px 0;
}

.logoName .logo {
    width: 150px;
    margin: 5px 0;
}

.logoName {
    display: flex;
    align-items: center;
    justify-content: start;
}

#heroSection, #heroSection-2, #heroSection-3 {
    display: flex;
    width: 100vw;
    height: 820px;
}

#heroSection {
    justify-content: flex-end;
    align-items: center;
    background-image: url("photos/heroImage2.JPG");
    background-position: 50% 45%;
    background-repeat: no-repeat;
    background-size: cover;
}

#heroSection-2 {
    justify-content: flex-end;
    align-items: center;
    background-image: url("photos/heroImage4.jpg");
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
}

#heroSection-3 {
    justify-content: flex-start;
    align-items: center;
    background-image: url("photos/heroImage5.jpg");
    background-position: 50% 75%;
    background-repeat: no-repeat;
    background-size: cover;
}

#heroSection .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-right: 10%;
    width: 50%;
    height: auto;
    max-height: 70%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.7) , rgba(255, 255, 255, 0) 50%)  
}

#heroSection-2 .container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-right: 10%;
    width: 50%;
    height: auto;
    max-height: 80%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0.7) , rgba(255, 255, 255, 0) 60%);
}

#heroSection-3 .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 50%;
    height: auto;
    max-height: 80%;
    margin-left: 10%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0) 80%)
}

#heroSection-content {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: flex-end;
    align-items: flex-end;
    color: #fff;
    position: relative;
    width: 80%;
}

#heroSection-content2 {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: flex-end;
    align-items: flex-end;
    color: #ffffff;
    position: relative;
    width: 70%;

}

#heroSection-content3 {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
    align-items: left;
    color: #ffffff;
    position: relative;
    width: 80%;
}

div.quote-header {
    font-size: 1.5rem;
    margin-bottom: 5px;

}

div.quotes {
    font-size: 1.25rem;
    margin-bottom: 20px;
    width: 95%;
}

.rsvp a, .rsvp2 a, .rsvp3 a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    border: 1px solid white;
    padding: 10px 20px;
    background-color: #1c2263;
    font-size: 1rem;
}

.rsvp a:hover, .rsvp2 a:hover, .rsvp3 a:hover {
    border-radius: 5px;
    border: none;
    transition: 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/*carousel*/

div.carousel-container {
    position: relative;
}

div.carousel-container > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
}

.carousel-button:hover,
.carousel-button:focus {
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

.carousel-button.prev {
    left: 1rem;
}

.carousel-button.next {
    right: 1rem;
}



  /* end-of-carousel */

  /* about */

.flowerBed-element {
    position: relative;
    width: 100%;
}

.flowerBed-element img {
    position: absolute;
    bottom: 0;
    width: 100%; /* Maintain original width */
    height: 100px;
    object-fit: cover;
    z-index: 999;
}

/* Media query for screens narrower than 1921px */
@media screen and (max-width: 1920px) {
    .flowerBed-element {
      width: 100%; /* Stretch the container to 100% viewport width */
    }
  }

.logo-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logo-middle img {
    margin-top: 50px;
    width: 800px;
}

.about-content {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    width: 80%;
    margin: auto;
}

.about-content .content-container {
    width: 65%;
    margin-bottom: 20px;
}

.content-container p {
    margin-bottom: 1rem;
}

.rsvp-about {
    display: flex;
    justify-content: center;
}

.rsvp-about a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    border: 1px solid white;
    background-color: #1c2263;
    padding: 10px 30px;
}

.rsvp-about a:hover {
    background-color: #1c2263;
    border-radius: 5px;
    border: none;
    transition: 0.45s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* end-about */

/* countdown timer */

.clock-day:before {
    content: var(--timer-day);
}

.clock-hours:before {
    content: var(--timer-hours);
}

.clock-minutes:before {
    content: var(--timer-minutes);
}

.clock-seconds:before {
    content: var(--timer-seconds);
}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #080808;
    border-radius: 5px;
    padding: 60px 20px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, .15), 0 15px 90px 30px rgba(0, 0, 0, .25);
}

.clock-container .timer {
    display: flex;
    justify-content: center;
}

.clock-container .untilTheDay {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.25rem;
    color: rgba(255, 255, 255, .5);
}

.clock-col {
    text-align: center;
    margin-right: 40px;
    margin-left: 40px;
    min-width: 90px;
    position: relative;
}

.clock-col:not(:last-child):before,
.clock-col:not(:last-child):after {
    content: "";
    background-color: rgba(255, 255, 255, .3);
    height: 5px;
    width: 5px;
    border-radius: 50%;
    display: block;
    position: absolute;
    right: -42px;
}

.clock-col:not(:last-child):before {
    top: 35%;
}

.clock-col:not(:last-child):after {
    top: 50%;
}
.clock-timer {
    font-size: 2rem;
}
.clock-timer:before {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
}

.clock-label {
    color: rgba(255, 255, 255, .35);
    text-transform: uppercase;
    font-size: 1rem;
    margin-top: 10px;
}

@media (max-width: 825px) {
    .clock-container {
        padding: 20px 0;
    }

    .clock-container .timer {
        flex-direction: row;
    }
    
    .clock-container .untilTheDay {
        font-size: 1rem;
    }
    

    .clock-col {
        margin-top: 10px;
        margin-right: 0;
        margin-left: 0;
    }
    
    .clock-col:before,
    .clock-col:after {
        display: none !important;
    }

    .clock-timer {
        font-size: 1rem;
    }
    .clock-timer:before {
        color: #fff;
        font-size: 1rem;
        text-transform: uppercase;
    }
    
    .clock-label {
        color: rgba(255, 255, 255, .35);
        text-transform: uppercase;
        font-size: 0.875rem;
        margin-top: 10px;
    }
}


/* countdown timer end */

footer {
    background-color: #00141F;
    text-align: center;
    padding: 10px;
    color: #fff;
}

/* sections styling*/

div.container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* responsiveness */

@media only screen and (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        text-align: right;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #1c2263;
    }

    .navbar-links a {
        margin: 0;
        padding: 15px;
        display: block;
    }
    .navbar-container {
        justify-content: center;
        padding-right: 10px;
    }

    .hamburg {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    .navbar-toggle, .logoResp {
        display: flex;
    }

    #heroSection-2{
        display: flex;
        background-position: center;
        background-size: 800px auto;
        height: 420px;
    }

    #heroSection {
        background-position: 30% 70%;
        background-size: 750px auto;
        display: flex;
        height: 420px;
    }

    #heroSection-3 {
        display: flex;
        background-position: 60% 100%;
        height: 420px;
    }

    
    
    div.quote-header {
        font-size: 1rem;
        margin-bottom: 15px;
    }
    
    div.quotes {
        display: none;
    }

    .rsvp a, .rsvp2 a, .rsvp3 a {
        font-size: .75rem;
        padding: 5px 10px;
    }
    
    .carousel-button {
        font-size: 1rem;
    }

    .logo-middle {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: auto;
    }
    
    .logo-middle img {
        margin-top: 30px;
        width: 100%;
    }
}


